page-login {
    background: #000;
    ion-content{
        ion-card-header{
            h2{
                font-size:36px !important;
                font-weight: bold;
                color: $mainColor;
            }
        }
        ion-label{
            color: #a7a5a5;
            }
        .line{
            ion-col{
                text-align: center;
                p{
                    margin-top: -30%;
                    color: #a7a5a5;
                }
            }
            .lineCol {
               border-top: 1px solid #d3d3d3;
               line-height: 50%;
              
            }

        }
    }
}
